<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ondoseeWidget.plist
   ondosee

   Created by 정윤서 on 8/20/24.
   Copyright (c) 2024 com. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
